.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lens-effect-text {
  font-size: 1.5rem;
  transition: transform 0.8s ease;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* .lens-effect-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
} */

/* .lens-effect-text:hover::before {
  transform: translate(-50%, -50%) scale(1);
} */
